@import url("../reset.css");
@import url("../common.css");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
a:hover {
  text-decoration: underline;
}
form{
    margin: 0 auto;
}
.profolio {
  margin-top: .5rem;
}
.mylinks p{
  padding: .5rem 0;
}
@media only screen and (min-width: 1200px) {
    .form{
        display: flex;
    }
    .profolio{   /*flexcenter*/
      display: flex;
      /* flex-direction: column; */
      justify-content: space-around;
      align-items: center;
    }
}