@import url("../reset.css");
@import url("../common.css");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
main {
  display: flex;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .form {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
  }
}
