{% extends 'layout.html' %}

{% block home_css_link%}
    <link rel="stylesheet" href="static/stylesheets/home/home.css">
{% endblock %}
{% block msg_css_link%}
<link rel="stylesheet" href="static/stylesheets/home/msg.css">
{% endblock %}

{% block home %} 
    {% if g.name == '您' %}
        {% block title_home %}
            <h1>留言板</h1>
        {% endblock %}

        <div class="form">
        {% block signup %}
            <form action="signup" method="post">
                <h3>註冊帳號</h3>
                <div>
                    <label for="">暱稱</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="">帳號</label>
                    <input type="text" name="username">
                </div>
                <div>
                    <label for="">密碼</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <label for="">確認密碼</label>
                    <input type="password" name="password2">
                </div>
                <div>
                    <input type="submit" name="submit" value="註冊帳號">
                </div>
            </form>
            <hr />
        {% endblock %}
    
        {% block signin %}
        <form action="/signin" method="POST">
                
            <h3>登入系統</h3>
            <div>
                <label for="username">帳號</label>
                <input name="username" type="text" placeholder="username" value="{{g.username if g.username}}"/>
            </div>
            <div>
                <label for="password">密碼</label>
                <input name="password" type="password" placeholder="password" />  
            </div>
            <div>
                <input type="submit" name="submit" value="登入">
            </div>
        </form>
        {% endblock %}
        </div>
    {% else %}
        <section class="mboard"></section>
            <div style="margin: 0 auto;" class="container story">
                <label for="">話說:</label>
                <button class="add_msg">新增留言</button>
            </div>
        
            <div class="message">
            </div> 
  
    {% endif %}
    {% block msg_js %}
    <script src="../static/js/msg.js"> </script>
    {% endblock %}
{% endblock %}
    



