{% extends 'layout.html' %}
{% block member_css_link%}
    <link rel="stylesheet" href="static/stylesheets/member/member.css">
{% endblock %}
{% block axios_link%}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block member %}
    {% if g.name == ' ' %}
        {% block title %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                    <h3 style="color:rgb(218, 88, 13); 
                    margin: 0 auto; 
                    display:grid;
                    justify-self: center;
                    align-self: center;">{{msg}}</h3>
                    {% endfor %}
                {% elif g.name == ' ' %}
                    <h1>{{web_info.member_t}}</h1>
                {% else %}
                    <h1>{{g.name}}的...</h1>
                {% endif %}
            {% endwith %}
        {% endblock %}
   {% else %}
        {#}
        {% else %}
            <section class="mboard">
                <div style="margin: 0 auto;" class="container story">
                    <label for="">話說:</label>
                    <button class="add_msg">新增留言</button>
                </div>

                <div class="message">
                </div>
            </section>
        {#}
        <form id="get_form" action="/api/users" method="get">
            <div>
                <label for="">查詢會員姓名</label>
                <input id="search_name" type="text" name="username">
            </div>
            <div>
                <input type="submit" name="submit" value="查詢">
            </div>
            <h3 id="show_name"></h3>
            
            <script src="../static/js/axios.js"></script>
        
            <script src="../static/js/xhr.js"></script>
            
            {#}
            <script src="../static/js/fetch.js"></script>
            {#}
        </form>
    {% endif %}
{% endblock %}

